.left {
	float: left;
	width: 47.5%;
	margin: 10px;
	padding: 10px;
	border: 1px solid #bbb;
	background-color: #eee;
}

.right {
	float: right;
	width: 47.5%;
	margin: 10px;
	padding: 10px;
	border: 1px solid #bbb;
	background-color: #eee;
}